<h1>Welcome</h1>

<form action="users/register" method="get">
  First Name:
    <input type="text" name="given_name" placeholder="First Name" required/>
<br>
  Last Name:
    <input type="text" name="family_name" placeholder="Last Name" required/>
<br>
  Email:
    <input type="text" name="email" placeholder="Email" required/>
<br>
  Home Address:
    <input type="text" name="home_address" placeholder="Address" required/>
<br>
<input type="submit" value="Register" />

</form>
