<!-- Confirmation of Contact Information -->
<h1>Contact Information</h1>

<br>
First Name: <%=@user.given_name%>
<br>
Last Name: <%=@user.family_name%>
<br>
Email: <%=@user.email%>
<br>
Address: <%=@user.home_address%>
